.song-container {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 20%;
    border-radius: 50%;
    z-index: 100;
    padding: 5px;

    // position: absolute;
  }
}
.song-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;

  h2 {
    padding: 3rem 1rem 1rem 1rem;
  }
  h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .song-container {
    img {
      width: 60%;
    }
  }
}

.circle {
  border-radius: 50%;
  // background-image: linear-gradient(red, yellow);
  width: 10%;
  height: 20%;
  position: absolute;
  opacity: 0;
  // animation: scaleIn 4s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
}

@keyframes scaleIn {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}

.animation-active {
  animation: scaleIn 4s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
}
